<div class="container my-5 py-5">
    <div class="row">
        <div class="col-12 col-md">
            <a href="index.html"><img src="{{assets}}/img/logo-trgtr-white.svg" class="d-block w-50 mb-4" alt="trgtr"></a>
            <small class="d-block mb-3">2018 trgtr. All Rights Reserved.</small>
        </div>
        <div class="col-6 col-md">
            <h6 class="font-weight-bold text-info">LEGAL</h6>
            <nav class="nav master-footer__nav flex-column pb-3">
                {{#withSort legal 'data.posted'}}
                    {{#each pages }}
                        <a {{#is ../../page.dest this.dest}}
                        class="nav-link px-0 py-2 active" {{ else }} class="nav-link px-0 py-2"{{/is}}
                        href="{{ replaceStr dest 'app/development/' '' }}">
                            {{ data.title }}
                        </a>
                    {{/each}}
                {{/withSort}}
            </nav>
        </div>
        <div class="col-6 col-md">
            <h6 class="font-weight-bold text-info">MEMBERSHIP</h6>
            <nav class="nav master-footer__nav flex-column pb-3">
                {{#withSort membership 'data.posted'}}
                    {{#each pages }}
                        <a {{#is ../../page.dest this.dest}}
                        class="nav-link px-0 py-2 active" {{ else }} class="nav-link px-0 py-2"{{/is}}
                        href="{{ replaceStr dest 'app/development/' '' }}">
                            {{ data.title }}
                        </a>
                    {{/each}}
                {{/withSort}}
            </nav>
        </div>
        <div class="col-6 col-md">
            <h6 class="font-weight-bold text-info">SUPPORT</h6>
            <nav class="nav master-footer__nav flex-column pb-3">

                {{#withSort support 'data.posted'}}
                    {{#each pages }}
                        <a {{#is ../../page.dest this.dest}}
                        class="nav-link px-0 py-2 active" {{ else }} class="nav-link px-0 py-2"{{/is}}
                        href="{{ replaceStr dest 'app/development/' '' }}">
                            {{ data.title }}
                        </a>
                    {{/each}}
                {{/withSort}}

            </nav>
        </div>
        <div class="col-6 col-md">
            <h6 class="font-weight-bold text-info">COMPANY</h6>
            <nav class="nav master-footer__nav flex-column pb-3">
                {{#withSort company 'data.posted'}}
                    {{#each pages }}
                        <a {{#is ../../page.dest this.dest}}
                        class="nav-link px-0 py-2 active" {{ else }} class="nav-link px-0 py-2"{{/is}}
                        href="{{ replaceStr dest 'app/development/' '' }}">
                            {{ data.title }}
                        </a>
                    {{/each}}
                {{/withSort}}
            </nav>
        </div>
    </div>
</div>







